@font-face {
  font-family: "Nihonium";
  src: url(../font/Nihonium113-Console.ttf);
}
body {
  margin: 0;
  font-family: "Nihonium", sans-serif;
}

main {
  background-image: url(../img/background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

a {
  color: #fff;
}

.container {
  height: 100%;
  animation: opacity_change 3000ms infinite alternate;
  width: 100%;
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text {
  text-align: center;
  font-size: 3rem;
  color: hsl(0, 0%, 100%);
}

.dud {
  color: #757575;
}

.glowing-btn {
  position: relative;
  color: hsl(315, 72%, 56%);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid hsl(315, 72%, 56%);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 1em;
  -webkit-box-shadow: inset 0px 0px 0.5em 0px hsl(315, 72%, 56%), 0px 0px 0.5em 0px hsl(315, 72%, 56%);
  -moz-box-shadow: inset 0px 0px 0.5em 0px hsl(315, 72%, 56%), 0px 0px 0.5em 0px hsl(315, 72%, 56%);
  box-shadow: inset 0px 0px 0.5em 0px hsl(315, 72%, 56%), 0px 0px 0.5em 0px hsl(315, 72%, 56%);
  animation: border-flicker 4s linear infinite;
}
.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: hsl(315, 72%, 56%);
  pointer-events: none;
}
.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: hsl(315, 72%, 56%);
  box-shadow: 0 0 2em 0.2em hsl(315, 72%, 56%);
  transition: opacity 100ms linear;
}
.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}
.glowing-btn:hover .glowing-txt {
  animation: none;
}
.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}
.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}
.glowing-btn:hover:after {
  opacity: 1;
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsla(0, 0%, 100%, 0.3), 0 0 0.45em hsl(315, 72%, 56%);
  -moz-text-shadow: 0 0 0.125em hsla(0, 0%, 100%, 0.3), 0 0 0.45em hsl(315, 72%, 56%);
  text-shadow: 0 0 0.125em hsla(0, 0%, 100%, 0.3), 0 0 0.45em hsl(315, 72%, 56%);
  animation: text-flicker 4s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 4s linear infinite;
}

@keyframes opacity_change {
  from {
    background-color: rgba(0, 0, 0, 0.3);
  }
  to {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }
  87% {
    opacity: 1;
  }
}
@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  8% {
    opacity: 0.1;
  }
  9% {
    opacity: 1;
  }
  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }
  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}
@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }
  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
